body {
    background-color: #0c0c0c;
    color: #bfbfbf;
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.terminal {
    padding: 15px;
    height: 90vh;
    overflow-y: auto;
    box-sizing: border-box;
    white-space: pre-wrap;
}

h1 {
    color: #00ff00;
}

a {
    color: #57f7ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 5px 0;
    color: #c0c0c0;
}

.prompt  {
    color: #d9d9d9;
    display: inline;
    line-height: 25px;
    visibility: visible;
}

.input-line {
    color: #d9d9d9;
    display: inline;
    line-height: 25px;
    visibility: visible;
}

.dir {
    color: #00ff00;
}

a:hover {
    text-decoration: underline;
}

.cursor {
    height: 17.5px;
    background-color: #d9d9d9;
    animation: blink 1s steps(1) infinite;
    display: inline-block;
    width: 8px;
}

@keyframes blink {
    50% { background-color: transparent; }
}

.output {
    color: #eee;
}

.error {
    color: #ff6666;
}
